@font-face {
font-family: "code_bold";
src: url("./fonts/CODE_Bold.otf") format("opentype");
}

@font-face {
font-family: "code_light";
src: url("./fonts/CODE_Light.otf") format("opentype");
}

@font-face {
font-family: "quicksand";
src: url("./fonts/Quicksand_Book.otf") format("opentype");
}

@font-face {
font-family: "quicksand_book";
src: url("./fonts/Quicksand_Book.otf") format("opentype");
}

.stuck .animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeOutUpBig { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
} 
@keyframes fadeOutUpBig { 
    0% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
} 
.stuck .fadeOutUpBig { 
    -webkit-animation-name: fadeOutUpBig; 
    animation-name: fadeOutUpBig; 
}

			body {
				color: #d7d7d7;
				font-size:13px;
				font-family: "quicksand";
				

				background-color: #003e26;
				margin: 0px;

			}

			#masthead {
				position: relative;
				height: 600px;
				padding: 5px;
				font-family: "code_light";
				text-align: center;
				font-size: 165px;
				transition: all 0.5s ease;
				
			}
			
			#masthead.stuck {
			  position: fixed;
			  font-size: 54px;
			  line-height: 68px;
			  height: 68px;
			  background: #002f1d;
			  text-align: left;
			  padding-left: 20px;	
			  top: 0;
			  z-index: 10;
			  width:100%;
			}
			
			#masthead.stuck .idea {
				float: left;
			}
			
			#masthead.stuck .idea img {
				width: 158px;
			}
			
			.stuck .title {
				padding-left: 100px;
			}
			
			.idea {
			  margin-top: -100px;
			  z-index: 5;
			}
			
			#masthead.row {
				margin-top: 0;
				margin-bottom: 0;
			}
			
			.row {
				margin-top: 5px;
				margin-bottom: 5px;
				
			}
			
			p {
				text-align: left;
			}

			a {

				color: #0080ff;
			}