@-webkit-keyframes fadein {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1.0;
   }
}
 

html, body {
    background-color: #752a14;
}
body {
    padding-top: 40px;
}

a:hover {
    text-decoration: none;
}

.container > footer p {
    text-align: center;
}
.container {
    width: 820px;
}
.content {
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 -20px;
    padding: 20px;
}
.page-header {
    background-color: #F5F5F5;
    margin: -20px -20px 20px;
    padding: 20px 20px 10px;
}
.content .span10, .content .span4 {
    min-height: 500px;
}
.content .span4 {
    border-left: 1px solid #EEEEEE;
    margin-left: 0;
    padding-left: 19px;
}
.topbar .btn {
    border: 0 none;
}

.topbar .denier-box {
    height: 40px;
    width: 54px;
    line-height: 40px;
    background: url('../images/denier.png') no-repeat right 5px;
}

.topbar .denier-box span {
    background: #fff;
    border: 1px solid #dedede;
    padding: 4px;
    box-shadow:inset 0 0 2px #dedede; 
    -moz-box-shadow:inset 0 0 2px #dedede;
    -webkit-box-shadow: inset 0 0 2px #dedede;
}

.topbar .updatecoins {
    color: #FFFFFF;
    cursor: pointer;
}

.act-info {
    color: #000;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
}

.media-grid a:hover .act-info {
    display:inherit;
}

.media-grid a {
    transition: 1s linear;
}
/*
.media-grid a:hover {
    height: auto;
    min-height: 180px;
    max-height: 550px;
}
*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: #dedede 1px solid;
    background-color:#dbdbdb;
    line-height: 40px;
    height: 40px;
    padding-top: 0;
    margin-top: 0;
}

#minicart {
    position: absolute;
    width: 120px;
    display: none;
    bottom: 23px;
    border: 1px solid #dedede;
    border-bottom: 3px solid #dedede;
    background-color: #dbdbdb;
    background-image: linear-gradient(bottom, rgb(219,219,219) 13%, rgb(179,179,179) 57%);
    background-image: -o-linear-gradient(bottom, rgb(219,219,219) 13%, rgb(179,179,179) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(219,219,219) 13%, rgb(179,179,179) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(219,219,219) 13%, rgb(179,179,179) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(219,219,219) 13%, rgb(179,179,179) 57%);
    background-repeat: repeat-x;
}

#minicart li {
    padding: 5px 10px 2px 10px;
}

li.wallet {
    border-top: 1px solid rgb(219,219,219);
    border-bottom: 1px solid rgb(219,219,219);
}

#minicart li.wallet {
    font-size: 9px;
}

#maincart li.wallet {
    padding: 5px 0px 7px 0px;
    margin: 5px 0px 8px 0px;
}

#maincart div.img > img {
    display: inline;
    border: 1px solid #DDDDDD;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      float: left;
      margin: 0 10px 4px 0px;
      padding: 4px;
}

#maincart div.name {
    font-weight: bold;
    size: 13px;
}

#maincart div.longSum {
    clear: both;
    padding-top: 8px;
}
