/*
Theme Name: SKS
Theme URI: http://www.stephenkschuster.com 
Description: Slight alteration to the 2010 theme to give more relevance to galleries and photography in general.
Version: .5
Tags: photos, galleries, brianbermanphoto
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@font-face { font-family: GarmondExt; src: url(Garamond.otf) format("opentype"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 55px -200px 0 320px;
/*	width: 100%; */
}

.home #container, .single #container, .search #container, .archive #container {
    width: 900px;
    overflow-x: hidden;

}

a.loginlink, a.loginlink:visited, a.loginlink:hover, a.loginlink:link {
    color: #FFF;
    opacity: .75;
}

.page-id-2 #container, .page-id-52 #container {
    width: 900px;
}

.archive #container, .search #container, .single #container {
    min-height: 600px;
}

#content {
/*	margin: 0 280px 0 20px; */
}

.the_time {
    float: right;
}

.home #content, .single #content {
    margin: 0 75px 0 20px;
}

#primary{
	float: left;
	overflow: hidden;
	width: 300px;
	position: fixed; 
	padding: 25px 0 0 20px;
	z-index: 10;
	background: #FFF;
	opacity: .75;
/*    background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.50, rgba(255,255,255, 1.0)),
    color-stop(1.00, rgba(255,255,255, .0))
);
    background: -moz-linear-gradient(
    left center,
    rgba(255,255,255, 1.0) 50%,
    rgba(255,255,255, .0) 100%
); */
	height: 100%;
}
#secondary {
    margin: 15px -240px 0px 240px;
    position: relative;
    width: 940px;
}

#secondary ul {
    width: 940px;
}

#secondary ul, #secondary ul li, #secondary ul li form {
    display: inline;
    margin: 0;
    padding: 0;
}

#secondary #search-2 {
    width: 225px;
}
#footer {
	clear: both;
	width: 100%;
}

#bottomNav #jqlb_closelabel {
    background-image: url('./images/closelabel.gif');
}

.controls .single-view, .controls .grid-view, .controls .prev, .controls .next {
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}

.controls {
    font-size: 14px;
    line-height: 20px;
    padding-left: 3px;
}

.controls .curr, .controls .total {
    padding: 0 2px 0 2px;
    top: -3px;
    position: relative;
}

.controls .sep {
    padding: 0 1px 0 1px;
    top: -3px;
    position: relative;
}

.controls .single-view {
    background: url('./images/single-view.png') no-repeat bottom center;
}

.controls .grid-view {
    background: url('./images/grid-view.png') no-repeat bottom center;
}

.controls .prev {
    margin-left: 10px;
    background: url('./images/previous.png') no-repeat center center;
}

.controls .next {
    background: url('./images/next.png') no-repeat center center;
}

.controls .switch .view, .controls .text {
    display: none;
}
/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: Palatino Linotype, Palatino, "GaramondExt", Garamond,  Georgia, Arial, "Bitstream Charter", sans-serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit] {
	font-family: Palatino Linotype, Palatino, "GaramondExt", Garamond,   "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

#page-title {
    font-family: Palatino Linotype, Palatino, "GaramondExt", Garamond,   arial, sans-serif;
    font-size: 21px;
    text-transform: lowercase;
}

.meta-prep {
    display: none;
}



/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
/*	width: 940px; */
    width: 100%;
}
#wrapper {
	background: #fff;
/*	margin-top: 20px; */
/*	padding: 0 20px; this padding moved to primary/secondary */
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	/*background: #f1f1f1; */
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	color: #666666;
}
a:visited {
	color: #666666;
}
a:active,
a:hover {
	color: #3F8ae0;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

a.more-link {
    display: block;
    padding-top: 7px;
}

/* =Header
-------------------------------------------------------------- */

#header {
/*	padding: 30px 0 0 0; */
}
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 14px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding img {
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	clear: both;
	display: block;
}


/* =Menu
-------------------------------------------------------------- */

#access {
/*	background: #000; */
	display: block;
	float: right;
	margin: 0px 45px 15px 100px;
/*	padding-top: 35px;*/
/*	width: 940px; */
 /*   width: 100%; */
}
#access .menu-header,
div.menu {
	font-size: 16px;
/*	margin-left: 12px;
	width: 928px; */
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	/*float: left;
	position: relative; */
}
#access a {
	color: #666;
/*	float: right; */
/*	display: block; */
/*	line-height: 25px; */
/*	padding: 0 10px; */
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
}
#access ul ul {
/*	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2); */
	display: none;
/*	position: absolute;*/
	top: 118px; 
	padding-top: 5px;
	margin-left: 0px;
	left: -21px;
	float: left;
	width: 220px;
	z-index: 99999;
}

#access ul.menu-menu li.menu-item {
    position: absolute;
}

#access ul ul li {
	min-width: 180px;
    clear: both;
    border-bottom: 1px solid #CCC;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}

#main .widget-area ul ul.sub-menu {
    border-top: 1px solid #CCC;
/*    border-bottom: 1px solid #CCC; */
}

#access ul ul a {
/*	background: #666; */
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
/*	background: #666; */
	color: #3F8AE0;
}

#access ul li > ul {
	display: block;
}
#access ul li.current_page_item > a,
/*#access ul li.current-menu-ancestor > a,*/
#access ul li.current-menu-item > a
/*#access ul li.current-menu-parent > a */{
	color: #000;
}
* html #access ul li.current_page_item a,
/** html #access ul li.current-menu-ancestor a,*/
* html #access ul li.current-menu-item a,
/* * html #access ul li.current-menu-parent a, */
* html #access ul li a:hover {
	color: #000;
}

#access ul li.current-menu-ancestor > ul {
    display: block;
}

/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
/*	overflow: hidden; */
/*	padding: 40px 0 0 0; */
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #666;
	font-size: 16px;
	line-height: 24px;
}

.about-page #content {
    width: 860px;
}
.about-page div.controls>span {
    display: none;
}
.about-page h1.entry-title {
    display: none;
}
.about-page .ngg-galleryoverview {
    display: none !important;
}

#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #666666;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #666666;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
	padding-bottom: 30px;
	border-bottom: 1px solid #e7e7e7;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
#page-title {
    background: url(images/sks-title.gif) center left no-repeat;
    height: 92px;
    width: 250px;
}

#page-title span.page-title-logo {
    display: none;
}

.page-title span {
	color: #666;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a, #page-title a, 
.page-title a:link, #page-title a:link,
.page-title a:visited, #page-title a:visited {
	color: #666;
	text-decoration: none;
}
.page-title a:active, #page-title a:active,
.page-title a:hover, #page-title a:hover {
	color: #3F8ae0;
}
#content .entry-title {
	color: #666;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
	position: relative;
	top: -3px;
	text-transform: lowercase;
}
.entry-title a:link,
.entry-title a:visited {
	color: #666
	;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #3F8ae0;
}

.home .entry-title, .home .entry-meta {
    display: none;
}

.home .ngg-gallery-thumbnail img {border: none;}

.gallery-page .entry-title {
    display: none;
}

.entry-utility,
#footer #colophon {
    display: none;
}

.entry-meta {
	color: #666;
	font-size: 14px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
.entry-content .col-left {
    float: left;
    width: 400px;
    margin: 0px 25px 0px 0px;
    
}

.entry-content .col-right {
    float: left;
    width: 400px;
}

#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #666;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #666;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #3F8ae0;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #666;
	font-size: 13px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #666;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #3F8ae0;
}
#content .video-player {
	padding: 0;
}

/* neggen gallery additional css */
.gallery-page .ngg-galleryoverview {
    overflow: visible;
}

.gallery-page .ngg-gallery-thumbnail-box {
    display: table-cell;
}

.gallery-page .ngg-gallery-thumbnail {
    margin: 0px 5px 10px 0px;
    padding-bottom: 10px;
}

.gallery-page .ngg-gallery-thumbnail img {
    border: none;
}

.gallery-page .ngg-gallery-thumbnail img:hover {
    background-color: #FFF;
}
.gallery-page .ngg-gallery-thumbnail span {
    float: right;
    padding: 0;
    position: relative;
    top: -5px;
}

.gallery-page .piclenselink {
    display: none;
}

/* =Asides
-------------------------------------------------------------- */

.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.category-asides {
	padding: 0;
}
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

#content img {
	margin: 0;
	height: auto;
/*	max-width: 640px; */
	width: auto;
}

#content #beastbox-img {
    margin-top: 20px;
    display: block;
}

#content .photo-display .caption {
    display: block;
    float: right;
    font-size:  11px;
    margin-top:  3px;
}

#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}
#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	color: #666;
	font-size: 12px;
	margin: 5px;
}
#content .wp-smiley {
	margin: 0;
}
#content .gallery {
	margin: 0 auto 18px;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #666;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #666;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #666;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #3F8ae0;
}
.nav-previous {
	float: left;
	width: 50%;
	font-size: 18px;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
	font-size: 18px;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
	width: 520px;
	margin-left: 35px;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #666;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #3F8ae0;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #666;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #3F8ae0;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #666;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #666;
	background-color:#FFFFFF;
	background-repeat:no-repeat;
	border:1px solid #CCC;
	cursor:pointer;
}
#respond {
/*	border-top: 1px solid #e7e7e7; */
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #3F8ae0;
	font-weight: bold;
}
#respond label {
	color: #666;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #666;
	font-size: 12px;
	line-height: 18px;
	display: none;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}

.page #footer {
    display: none;
}

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: disc;
	margin-left: 1.3em;
}
.widget_search #s {/* This keeps the search inputs in line */
/*	width: 60%; */
}
.widget_search label {
	display: none;
}
.widget-container.widget_search {
    margin-left: 12px;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #666;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #3F8ae0;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
/*	margin-left: 1.3em; */
	padding: 0;
}


/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 20px;
}
#colophon {
/*	border-top: 4px solid #000; */
/*	margin-top: -4px; */
	overflow: hidden;
/*	padding: 18px 0; */
}
#site-info {
	font-weight: bold;
	display: none;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}

/* fix modal overlay background mask for horizontal galleries */
body #overlay {
    position: fixed;
}

.ngg-galleryoverview {
    height: 525px;
}

.home .ngg-galleryoverview {
    height: 10px;
}

.gallery-page #comments {
    display:none;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 110%;
}
.entry-meta .meta-sep {
    text-transform: lowercase;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}