 body {
            font-family: Helvetica, Arial, Sans-Serif;
            font-size: 100.1%;
            line-height: 1;
            color: white;
            text-shadow: 2px 2px 5px black;
            zoom:1;
            height:100%;
        }
        html {
            height:100%;
            background: #444444;
            background: -moz-radial-gradient(center, #444444, black) fixed black;
            background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#444444), to(black) ) fixed black;
        }
       
        #main {
            position:relative;
            width:800px;
            margin:auto;
            padding-top:50px;
            line-height:20px;

        }
        h1 {
            font-size:50px;
            margin:0;
            padding-bottom:20px;
            color:rgb(255, 255, 0);
        }
        #timeline ul li {
            list-style:none;
        }
        #timeline ul li.selected {
            color:red;
            font-weight:bold;
        }
        #sessions {
            float:left;
        }
        .loading {
            display:block;
        }
        ul{
            margin:0;
            padding:0;
        }
        ul li {
            margin-top:1px;
            list-style:none;
            cursor:pointer;
            padding:5px;
            width:100px;
            background-color:rgba(255,255,255,0.3);
        }
        ul li:hover {
            background-color:rgba(255,255,255, 0.6);
        }
        #controls div{
            float:left;
            padding:10px;
            font-size:16px;
            background:rgba(0,0,0, 0.3);
            border-radius:10px;
            cursor:pointer;
            margin-right:10px;
            width:20px;
            text-align:center;
            border:1px solid rgba(255,255,255, 0.5);
        }
        #controls div:hover{
            text-shadow:0 0 20px black;
            background:rgba(0,0,0, 0.6);
            box-shadow:0 0 10px black;
        }
        #toolbar {
            float:left;
            width:120px;
                   }
        #info {
            padding-bottom:30px;
        }
        .rec {
            color:red;
        }
        .heat {
            color:rgb(250, 50, 0);
        }
        .cold {
            color:rgb(0, 200, 200);
        }
        #rate {
            font-size:14px;
            margin:0;
            margin-top:10px;
        }
        #rate select {
            width:90px;
        }
        a {
            color:yellow;
        }

        .wrapper{
            background:rgba(255,255,255, 0.1);
            padding:6px;
            margin-bottom:15px;
        }
        h3 {
            padding:0;
            padding-top:5px;
            padding-bottom:10px;
            margin:0;
        }

