body {
	padding-top: 50px;
}

body, 
#primaryContainer h1, 
#primaryContainer h2, 
#primaryContainer h3,
#primaryContainer h4,
#primaryContainer h5,
a.brand, 
.navbar,
.navbar li,
span,
a,
p {
	/* font-family: "fff_tusjbold"; */
	font-family: "cooper_hewittlight"; 
	/*font-family: "archisticonormal";*/
}


@media (min-width: 769px) {
	.navbar-nav.collapse {
		display: block !important;
	}
}

@media (max-width: 768px) {
/* Styles */

	div#scroller.slide-section.destination {
		background-size: 600px;
		background-position: 0px 0px !important;
		background-height: 300px;
	}
	
	.navbar ul {
		clear: both;
	}
	
	.navbar ul li {
		padding-left: 15px;
	}
	body .jumbotron .blueimp-gallery > .indicator > li {
		display:none !important;
	}
}

@media (max-width: 480px) {
	body h1 {
		font-size: 21px;
	}
	
	body #scroller .address {
		padding: 0 20px;
		background-color: rgba(160,160,160, .25);
		
	}

}


.navbar li {

}

#primaryContainer h1 {
	letter-spacing: 1px;
	text-shadow: 1px 1px rgba(120,120,120,0.80);
}

.brand {
	float:left;
	line-height: 30px;
	font-size: 18px;
	padding: 10px;
	color: #000;
}

.brand span {
	color: brown;
}


nav li > a {
	text-transform: capitalize;
}

/* jumbotron customization */

.jumbotron h2:before { 
  display: block; 
  content: " "; 
  margin-top: -45px; 
  height: 50px; 
  visibility: hidden; 
}

.container .jumbotron {
	padding: 15px;
	clear: both;
}

.jumbotron h2 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
	margin: 10px auto 5px auto;
}

.jumbotron p {
	font-size: 18px;
}

.jumbotron .rule {
	width: 100px;
	margin: 0 auto;
	background-color: #999;
	height: 1px;
	margin-bottom: 10px;
}

/* end jumbotron customization */

/* blueimp customization */

.jumbotron .blueimp-gallery-carousel {
	margin: 0;
}

.jumbotron .blueimp-gallery {
	background: none;
	border: none;
	box-shadow: none;
}

.jumbotron .slide-info {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 150px;
}

.jumbotron .slide-info .title {
	color: #000;
	text-shadow: none;
	font-size: 16px;
}

.jumbotron .slide-info .description {
	position: relative;
	bottom: 0;
	font-size: 12px;
	
}


/* end gallery customization */

/* footer */

div.footer {
	padding: 25px 0 25px 0;
	background-color: #FFF;
	margin-top: 25px;
	margin-bottom: 25px;
	clear:both;
	
}

/* end footer */

/* shows */

.jumbotron.shows .row {
	min-height: 150px;
	margin-bottom: 15px;
}

.shows .image {
	max-width: 190px;
	overflow: hidden;
}

.shows .image img {
	position: relative;
	width: 100%;
	height: 100%;
}

.shows .upcoming {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #999;
	display:none;
}

.shows p.date {
	font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.shows h4 {
	font-weight: inherit;
}

.shows .description {
	line-height: 1.428571429;
	font-size: 18px;
}

.shows .row {
	margin: 10px;
	padding: 2px;
}

.shows .row:hover {
/*	background-color: #cecece; */
/*	border: 1px solid rgba(0,0,0,.25); */
}

/* end shows */

/* contact */


/* end contact */


.slide-section {
	background-attachment: fixed;
	width: 100%;
	height: auto;
	position: relative;
	padding: 120px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#scroller {
	background: #fff url('../images/gallery/bed-050.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	padding: 0;
}

#scroller .title {
	width: 90%;
	/* width: 1000px; */
	max-width: 1000px;
	margin: auto;
}

#scroller .on-center {
	position: absolute;
	z-index: 100;
	display: block;
	width: 100%;
	text-align: right;
	padding: 0 60px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: 250px;
	overflow: hidden;
}

#scroller .on-center span {
	color: brown;
}

#scroller .address {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 60px;
}

#scroller .address span {
	text-align: right;
	color: #000;
	display: block;
}

#scroller .address span a, #scoller .address span a:hover, .#scroller .address span a:visited {
	color: #000;
}