	@font-face { font-family: HelveticaLight; src: url(HelveticaNeue-UltraLight.otf); }
	
		#content{ 
			background-color:rgba(0, 0, 0, .45); 
			bottom: 0px; 
			position: absolute; 
			width:100%; 
			margin: 0 auto;
			text-align:center; 
			line-height: 50%;}
		
		#logo{background:url('images/rl-logo.png')no-repeat;width:287px; height:97px; margin:350px auto; text-align:left; }

		#content span { color:#fff; font:11pt; letter-spacing: 2px;
		font-family: HelveticaLight, Arial, Helvetica Neue, Helvetica, Arial, sans-serif;
		/*text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px; */
		padding: 2px 5px 0px 2px; line-height:26pt;}
		#content div.copyright span {font-size:9pt; line-height: 10pt}
		.plugin-logo{ float:right; }
		
		html {
			overflow: hidden;
		}
		