/*
Theme Name: Tacombi Theme
Theme URI: http://tacombi.com
Description: Custom theme built for Tacombi NYC LLC, originally adapted from Default, so kudos.
Version: .1
Author: Jake Duffy
Author URI: http://www.coursedescriptionincluded.com/
Tags: white, slider, jquery
*/

@font-face { font-family: Knockout; src: url('knockout.otf'); }


/* Begin Typography & Colors */
body {
	font: 11px/16px Courier, Arial, Sans-serif;
	color: #333;
	}
	
.hidden {
	display: none;
}

#page {
	background-color: white;
	text-align: left;
	background: url();
	}

#header {
	/*background: #73a0c5 url('/images/') no-repeat bottom center;*/
	}

#headerimg 	{
	margin: 7px 9px 0;
	height: 192px;
	width: 1000px;
	}

.grid-view { float: left; width: 175px; height: 265px; padding: 20px 20px 20px 0px; border-top: 1px dashed #000; }

.grid-view .post {
    border-bottom: none;
}

.grid-view .post .thumb {
    height: 110px;
}

.grid-view h2 {
    margin-top: 0;
}

.grid-view .post h2 {
    height: 28px;
    padding-top: 18px;
    overflow: hidden;
}

.grid-view .post h2 a, .grid-view .post h2 a:visited {
    font-size: 12px;
    font-weight: normal;
}

.grid-view .entry-comment p:first-child {
    height: 75px;
    text-overflow: ellipsis;
    margin: 5px 0px 10px 0px;
    overflow: hidden;
    font-style: italic;
}

.grid-view .entry-comment p {
    height: 0px;
    margin: 0;
}

.grid-view .entry {
    display: none;
    visibility: hidden;
}

.grid-view .entry-comment .sociable {
    display: none;
    visibility: hidden;
}

.grid-view .entry-comment .social_container,
.grid-view .entry-comment .spreadtheword,
.grid-view .entry-comment .tooltip,
.grid-view .entry-comment .stLarge {
    display: none;
    visibility: hidden;
}

.taco-subnav .sep {
    border-top: none;
}


.sep {
    border-top: 1px dashed #000;
    padding-top: 15px;
    margin-top: 15px;
}


#content {
/*	font-size: 1.2em; */
	}

.widecolumn .entry p {
/*	font-size: 1.05em */
	}
	
.widecolumn .entry img {
    float: left;
    padding-right: 10px;
}

.narrowcolumn .entry, .widecolumn .entry {
	/*line-height: 1.4em;*/
	}
	
.narrowcolumn .entry img {
/*    width:353px; */
/*    height: 100%; */
}

.widecolumn {
	/*line-height: 1.6em;*/
	}

.narrowcolumn .postmetadata {
	text-align: center;
	}

.thread-alt {
	background-color: #f8f8f8;
}
.thread-even {
	background-color: white;
}
.depth-1 {
border: 1px solid #ddd;
}

.entry p{
    font-style: italic;
    color: #666;
}

.searchPage #intro {
    padding-bottom: 10px;
}

.searchResult {
     color: #77AFA4;
}

.searchPage .archive_list span a {
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 12px;
}

.searchPage .post, .searchPage .page {
     border-bottom: 1px dashed #000;
     padding-bottom: 5px;   
}

.searchPage .archive_list {
    font-family: "Lucida Grande", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 0px 6px 0px;
}

.searchPage span a, .searchPage span.author {
    font-weight: normal;
	color: #77afa4; 
}


.searchPage h3, .searchPage h3:visited {
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

.post {
    padding-bottom: 15px;
    border-bottom: 1px dashed #000;
}

.even, .alt {

	border-left: 1px solid #ddd;
}

#footer {
	/*background: #e7e7e7 url('images/kubrickfooter.jpg') no-repeat top;*/
	border: none;
	}

small {
	font-family: "Lucida Grande", Arial, Helvetica, Sans-Serif;
	font-size: 9pt;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	}

h1, h2, h3 {
	font-family: Courier,Arial, Sans-Serif;
	font-weight: bold;
	}
	
h2.widgettitle a, h2.widgettitle a:hover, h2.widgettitle {
	color: #000;
	text-transform:uppercase;
}

h1 {
	font-size: 4em;
	text-align: center;
	}

#headerimg .description {
	font-size: 1.2em;
	text-align: center;
	}

h2 {
	font-size: 1.6em;
	}

h2.pagetitle {
	font-size: 1.6em;
	}
	
.community #sidebar {
    padding-left: 15px;
}

#sidebar h2, #third-column h2 {
    font-weight: normal;
	font-family: "Lucida Grande", Sans-Serif;
	font-size: 10pt;
	padding-bottom: 2px;
	}

h3 {
	font-size: 1.3em;
	}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	color: white;
	}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	font: 12pt "Lucida Grande";
	text-transform: uppercase;
	font-weight: normal;
	}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite, #third-column h2 {
	text-decoration: none;
	}

.entry p a:visited {
	color: #77AFA4;
	}

.sticky {
	background: #f7f7f7;
	padding: 0 10px 10px;
	}
.sticky h2 {
	padding-top: 10px;
	}

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em Courier, Arial, Sans-Serif;
	padding: 4px;
	}
.commentlist li ul li {
	font-size: 1em;
}

.commentlist li {
	font-weight: bold;
}

.commentlist li .avatar { 
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: Courier, Arial, Sans-Serif;
	}

.commentmetadata {
	font-weight: normal;
	}
	
	#sidebar ul li.flickrpress:first-child, #third-column ul li.flickrpress:first-child {
	    border-bottom: none;
	    padding-bottom: ;
	}

#sidebar, #third-column {
	font: 10/15pt Courier, Arial, Sans-Serif;
	}

small, .nocomments, .postmetadata, blockquote, strike {
	color: #000;
	}
	
 #sidebar ul ul li, #sidebar ul ol li, #third-column ul ol li, #third-column ul ul li {
     color: #666;
 }
 
 

code {
	font: 1.1em Courier, Fixed;
	}

acronym, abbr, span.caps {
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a, h2 a:hover, h3 a:hover, h2, h3 {
	color: #77afa4; 
	text-decoration: none;
	}
	
small a {
    border-bottom: 1px dashed #77afa4;
}

a:hover {
	/*color: #147;
	text-decoration: underline;*/
	}

#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em Courier, Arial, Sans-Serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}
/* End Typography & Colors */



/* Begin Structure */
body {
    margin: 0;
    padding: 0;
	}

#page {
	background-color: white;
	margin: 0px auto;
	padding: 0;
	width: 1020px;
  }

.narrowcolumn {
	float: left;
	padding: 0 0 20px 0px;
	margin: 0px 20px 0 60px;
	width: 353px;
	}

.widecolumn {
	float: left;
	padding: 0px 0 20px 0;
	margin: 5px 0 0 60px;
	width: 600px;
	}

.post {
	margin: 0 0 40px;
	text-align: left;
	}

.post hr {
	display: block;
	}

.widecolumn .post {
	margin: 0;
	}

.narrowcolumn .postmetadata {
	padding-top: 5px;
	}

.widecolumn .postmetadata {
	margin: 30px 0;
	}

.widecolumn .smallattachment {
	text-align: center;
	float: left;
	width: 128px;
	margin: 5px 5px 5px 0px;
}

.widecolumn .attachment {
	text-align: center;
	margin: 5px 0px;
}

.postmetadata {
	clear: both;
}

.clear {
	clear: both;
}

#footer {
	margin: 0 auto;
	clear: both;
	text-align: left;
	}

#footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	}
/* End Structure */



/*	Begin Headers */
h1 {
	padding-top: 70px;
	margin: 0;
	}

h2 {
	margin: 30px 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

#sidebar h2, #third-column h2, #sidebar h2 a, #third-column h2 a, .widget_twitter h2 a {
	margin: 15px 0 5px;
	padding: 0;
	}



h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Headers */



/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline; 
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline; 
	}
	
.home .entry p img {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home .entry p img.alignleft, .home .entry p img.alignright {
    float: none;
}

.alignright {
 	float: right; 
	}

.alignleft {
	float: left; 
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before, #sidebar ul ul li:before, #third-column ul ul li:before {
/*	content: "\00BB \0020"; */
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol, #third-column ul, #third-column ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li, #third-column ul li {
	list-style-type: none;
	list-style-image: none;
    border-bottom: 1px dashed #000;
    padding-bottom: 15px;
	}
	

#sidebar ul p, #sidebar ul select, #third-column ul p, #third-column ul select {
	margin: 0px 0 8px;
	}

#third-column ul .wpcf7 {
    font-style: italic;
    color: #666;
}	

#third-column ul .wpcf7 p, #third-column ul .wpcf7 select {
	margin:  0px 0 2px;
}

#sidebar ul ul, #sidebar ul ol, #third-column ul ul, #third-column ul ol {
	margin: 5px 0 0 0px;
	}

#sidebar ul ul ul, #sidebar ul ol, #third-column ul ul ul, #third-column ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li, #third-column ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li, #third-column ul ul li, #third-column ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */

/*comments form section */

#author, #email, #url, #comment {
    background-color:  #77AFA4;
    color: #FFF;
    border: none;
    border-bottom: 1px dashed #000;
}

#page #commentform #author, #page #commentform #email, #page #commentform #url, #page #commentform #comment {
    width: 350px;
}

#page #commentform #submit {
    background-color: #FFF;
    backround-repeat: no-ropeat;
    border: none;
    color: #77AFA4;
    cursor: pointer;
    float: right;
    height: 26px;
    margin: 0px 55px 0px 0px;
    padding: 0;
    font-size: 13px;
}

/* Begin Form Elements */
#searchform {
	text-align: center;
	}

#sidebar #searchform #s, #third-column #searchform #s {
	width: 108px;
	padding: 2px;
	}

#sidebar #searchsubmit, #third-column #searchsubmit {
	padding: 1px;
	}

.entry form { /* This is mainly for password protected posts, makes them look better. */
	/*text-align:center;*/
	}
	
.wpcf7-submit {
    background-color:#FFFFFF;
    background-repeat:no-repeat;
    border:medium none;
    color:#77AFA4;
    border: 1px dashed #77AfA4;
    cursor:pointer;
    height:26px;
    margin:0 55px 0 0;
    padding:0;
    width:69px;
    position: relative;
    left: 197px;
}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
#respond:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
	}

#content span > input, #third-column span > input, #sidebar span > input, #content span > textarea, #third-column span > textarea, #sidebar span > textarea {
    background-color:#77AFA4;
    border-color:-moz-use-text-color -moz-use-text-color #000000;
    border-style:none none dashed;
    border-width:medium medium 1px;
    color:#FFFFFF;
    padding:4px;
}
	
/* End Form Elements */



/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: left;
	}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none;

	}
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}
.children { padding: 0; }

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* End Comments */

#content .flickrpress-container {
    overflow: hidden;
    height: 125px;
}


/* Begin Sidebar */
#sidebar {
	margin: 20px 0px 0px 0px;
	padding-right: 0px;
	float:  left;
	width: 220px;
	}

#sidebar form {
	margin: 0;
	}
/* End Sidebar */

/* Begin third column indx */
#third-column {
	float: right;
	margin: 20px 0px 0px 5px;
	width: 300px;
	}

.community #sidebar {
    float: right;
    margin: 20px 0px 0px 5px;
    width: 300px;
}	

.community .widecolumn {
    margin: 5px 0 0 0;
}

#third-column {
	position: relative;
/*	top: -750px;*/
}

#third-column form {
	margin: 0;
	}
/* End Sidebar */



/* Begin Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}
	
.screen-reader-text {
     position: absolute;
     left: -1000em;
}

hr {
	display: none;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
	position: relative;
	}
/* End Various Tags & Classes*/



/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */

/* jquery slider */

#slider {
	/* You MUST specify the width and height */
	width:1020px;
	height:519px;
	position:relative;	
	overflow:hidden;
}

#mask-gallery {
	overflow:hidden;	
}


#gallery {
	
	/* Clear the list style */
	list-style:none;
	margin:0;
	padding:0;
	
	z-index:0;
	
	/* width = total items multiply with #mask gallery width */
	width:990px;
	overflow:hidden;
}

	#gallery li {

		padding-top: 45px;
		/* float left, so that the items are arrangged horizontally */
		float:left;
	}

/* short top nav css */

.shortPage #slider.shortSlider {
	/* You MUST specify the width and height */
	width:1020px;
	height:350px;
	position:relative;	
	overflow:hidden;
}

.shortPage #page-header {
    height: 375px;
    clear: both;
}

.shortSlider #mask-excerpt {
    background: url('images/mask_sm.png') no-repeat bottom center;
    azimuthwidth:1020px;
    height: 350px;
}

#mask-excerpt {
	background: url('images/mask_v4.png') no-repeat bottom center;
	/* Set the position */
	position:absolute;	
	top:0;
	left:0;
	z-index:500px;
	
	/* width should be lesser than #slider width */
	width:1020px;
    height: 519px;
	overflow:hidden;	
	
}
	
#excerpt {
	/* Opacity setting for different browsers */
	filter:alpha(opacity=60);
	-moz-opacity:0.6;  
	-khtml-opacity: 0.6;
	opacity: 0.6;  
	
	/* Clear the list style */
	list-style:none;
	margin:0;
	padding:0;
	
	/* Set the position */
	z-index:10;
	position:absolute;
	top:0;
	left:0;
	
	/* Set the style */
	width:100px;
	background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(255,255,255)),
    color-stop(0.39, rgb(201,201,201)),
    color-stop(0.87, rgb(194,194,194))
);
	overflow:hidden;
	font-family:arial;
	font-size:10px;
	color:#fff;	
}

	#excerpt li {
		padding:5px;
	}

.clear {
	clear:both;	
} 

#page-header {
    height: 540px;
    clear: both;
}

#taco-nav {
	position: relative;
	top: -517px;
	left: 51px;
	width: 350px;
	/*float: left;*/
}

#taco-nav li {
	width: 232px;
}

#taco-nav a span {
   background: url(images/taconav.png) no-repeat;
}

#taco-nav a.about span {
	height: 48px;
	line-height: 48px;
	width: 245px;
	background-position: 0px 0px;
	display:  block;
}

#taco-nav li.current a.about span, #taco-nav a.about span:hover {
	background-position: -267px 0px;
}

#taco-nav a.food span {
	height: 77px;
	line-height: 77px;
	width: 245px;
	background-position: 0px -53px;
	display:  block;
}

#taco-nav a.food span:hover, #taco-nav li.current a.food span {
	background-position: -267px -53px;
}

#taco-nav a.media span {
	height: 78px;
	line-height: 78px;
	width: 245px;
	background-position: 0px -131px;
	display:  block;
}

#taco-nav a.media span:hover, #taco-nav li.current a.media span {
	background-position: -267px -131px;
}

#taco-nav a.community span {
	height: 125px;
	line-height: 125px;
	width: 245px;
	background-position: 0px -209px;
	display:  block;
}

#taco-nav a.community span:hover, #taco-nav li.current a.community span {
	background-position: -267px -209px;
}

/* short page taco nav */

.shortPage #taco-nav {
	position: relative;
	left: 50px;
	/*float: left;*/
}

.shortPage #taco-nav li {
	width: 232px;
}

.shortPage #taco-nav a span {
   background: url(images/taconav_sm.png) no-repeat;
}

.shortPage #taco-nav a.about span {
	height: 23px;
	line-height: 23px;
	width: 245px;
	background-position: 0px -21px;
	display:  block;
}

.shortPage #taco-nav li.current a.about span, .shortPage #taco-nav a.about span:hover {
	background-position: -267px -21px;
}

.shortPage #taco-nav a.food span {
	height: 38px;
	line-height: 38px;
	width: 245px;
	background-position: 0px -87px;
	display:  block;
}

.shortPage #taco-nav a.food span:hover, .shortPage #taco-nav li.current a.food span {
	background-position: -267px -87px;
}

.shortPage #taco-nav a.media span {
	height: 41px;
	line-height: 41px;
	width: 245px;
	background-position: 0px -165px;
	display:  block;
}

.shortPage #taco-nav a.media span:hover, .shortPage #taco-nav li.current a.media span {
	background-position: -267px -165px;
}

.shortPage #taco-nav a.community span {
	height: 63px;
	line-height: 63px;
	width: 245px;
	background-position: -0px -267px;
	display:  block;
}

.shortPage #taco-nav a.community span:hover, .shortPage #taco-nav li.current a.community span {
	background-position: -267px -267px;
}

.shortPage #taco-nav #banner-header {
	position: relative;
	background: url(images/header-bannerv2.png) no-repeat;
	height: 72px;
	width: 304px;
	top: 370px;
	z-index: 1;
	right: 42px;
	display: none;
}

.shortPage #taco-nav #social-icon-spread {
	top: 20px;
	left: 12px;
	position: relative;
	display: none;
}

.shortPage #taco-nav, .shortPage .taco-subnav {
    top: -268px;
}

#taco-nav, .taco-subnav {
    position: relative;
    top: -528px;
    
}

/* active gold overlay */

.nav a:hover img {
 /*   color: #938a5d;
    background-color: #938a5d;
    opacity: 0.2;
    filter: alpha(opacity=20);
 */
}

#tacombi-home {
	width: 930px;
	margin: 0px 60px 0px 60px;
	border-top: 1px dashed #000;	
}

#taco-nav .nav,
.taco-subnav .nav,
.taco-subnav .context-nav {
	list-style-type:none;
	padding: 0;
	margin: 0;
}

#taco-nav {
    padding-bottom: 20px; /*temporary */
}


.taco-subnav .nav li {
	font-family: Knockout, Arial, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}

.taco-subnav .context-nav li {
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 13px;
	/* font-weight: bold; */
	display: inline;
	position: relative;
}

.taco-subnav .context-nav li a {
	color: #000;
}

.taco-subnav .nav li > a:hover, 
.taco-subnav .context-nav li.current a, 
.taco-subnav .context-nav li > a:hover {
	color: #938a5d;
}

.taco-subnav .nav li.current a {
	color:  #000;
}

#taco-nav #banner-header {
	position: relative;
	background: url(images/header-bannerv2.png) no-repeat;
	height: 72px;
	width: 304px;
	top: 370px;
	z-index: 1;
	right: 42px;
}

#taco-nav #social-icon-spread {
	top: 20px;
	left: 12px;
	position: relative;
	display: none;
}

.taco-subnav .nav li {
    display: inline;
    position: relative;
}

.taco-subnav .nav li#logo {
    display: block;
    right: -60px;
    top: 65px;
}

.shortPage .taco-subnav .nav li#logo {
	display: block;
    right: -60px;
    top: 44px;
}

.taco-subnav .nav li#logo a span {
	height: 40px;
	background: url(images/logo-img.png) no-repeat;
	display: block;
}

.taco-subnav .context-nav > li {
	left:  463px;
	top: 15px;
	padding: 0px;
}

.taco-subnav .context-nav > li span.sep,
.taco-subnav .nav > li span.sep {
	padding-left: 3px;
	padding-right: 3px;
}

#footer .taco-subnav .nav > li {
	padding: 10px 0px 10px 0px;
	line-height: 20px;
}

#footer span.sep {
    font-size: 15px;
}

.taco-subnav li.about, .taco-subnav li.food, .taco-subnav li.media,
.taco-subnav li.community, .taco-subnav li.contact {
    left: 463px;
    top:  27px;
 /*   padding: 10px;*/
}

.shortPage .taco-subnav li.about, .shortPage .taco-subnav li.food, .shortPage .taco-subnav li.media,
.shortPage .taco-subnav li.community, .shortPage .taco-subnav li.contact {
    left: 463px;
    top:  6px;
 /*   padding: 10px;*/
}


#third-column ul > li, #sidebar ul > li {
/*	border-bottom: 1px dashed #000; */
/*	padding-bottom: 10px; */
}

.blogroll ul li {
    border: none;
}

#third-column ul > li:last-child, #sidebar ul > li:last-child {
    border-bottom: none;
}

#footer .taco-subnav li.about, #footer .taco-subnav li.food, #footer .taco-subnav li.media,
#footer .taco-subnav li.community, #footer .taco-subnav li.contact {
	left: 0px;
	top: 0px;
}

#footer .taco-subnav {
		border-top: 1px dashed #000;
		margin-top: 5px;
		position:relative;
		padding: 15px 10px 25px 20px;
		top: 0px;
}

#footer .taco-subnav li > a {
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#footer .taco-subnav .nav {
	float: left;
}

#footer .taco-subnav .contact-info {
	float: right;
	display: inline;
	padding-top: 2px;
	padding-right: 20px;
	font-size: 14px;
	
}


#intro {
	width: 600px;
	padding-top: 15px;	
	padding-bottom:27px;
	border-bottom: 1px dashed #000;
	font: 17px/23px georgia;
	color: #000;
	float: left; /* so third column floats next to it */
}

#intro p {
    margin: 0;
    padding: 0;
}

.page-template-contact-php #intro {
    margin-bottom: 15px;
}

.page-template-contact-php div.address {
    display: block;
    font: 17px/23px georgia;
    color: #000;
}

p.contact-header {
    font: 17px/23px georgia;
    color: #000;
    padding-top: 15px;
}

/* widget */

.textwidget h2.flickr-title {
    color: #000;
}

.textwidget a.flickr-gallery-title {
    color: #77afa4;
    font-weight: normal;
    display: inline;
    font-size: 11px;
}

.social-link {
    float: left;
    width: 150px;
}

span.flickr-logo {
   background: url(images/flickr-logo.gif) no-repeat;
   height: 16px;
   width: 40px;
   position: relative;
   display: block;
}

span.twitterlogo {
   background: url(images/twitter-logo.gif) no-repeat;
   height: 11px;
   width: 50px;
   position: relative;
   display: inline-block;
   left: -2px;
   top: 1px;
}
#sidebar .widget ul li, #third-column .widget ul li:first-child {
    padding-top: 0;
}
#sidebar .widget ul li, #third-column .widget ul li {
	border-bottom: 1px dashed #000;
	padding: 12px 0 9px 0;
	margin-top: 0px;
	overflow: hidden;
}

#sidebar ul.blogroll > li, #third-column ul.blogroll > li {
    border: none;
    padding: 2px 0px 2px 0px;
    text-transform: uppercase;
    font-size: 9pt;
}

#sidebar .widget ul.blogroll li:last-child, #third-column .widget ul.blogroll li:last-child {
/*border-bottom: 1px dashed #000; */
}

#sidebar .widget ul li:last-child, #third-column .widget ul li:last-child {
	border-bottom: none;
}

/* twitter widget */

#sidebar .widget_twitter ul.twitter li.twitter-item:first-child, #third-column .widget_twitter ul.twitter li.twitter-item:first-child {
	padding-top: 0px;
	margin-top: 0;
}

#sidebar .widget_twitter ul.twitter .twitter-item:last-child {
    border: none;
}

.widget_twitter .twitter-timestamp abbr {
    text-decoration: none;
    color: #000;
    font-family: "Lucida Grande", sans-serif;
    border-bottom: none;
    cursor: default;
}

#third-column .textwidget input {
    width: 300px;
}

#third-column .textwidget p.submit input {
    margin-right: -15px;
    width: 70px;
    left: 0px;
}

/* posts tags comments widget */

#third-column .DaikosText > span {
	padding-bottom: 5px;	
}

#third-column .DaikosText div a {
	text-transform: uppercase;	
}

#third-column .DaikosText .widget-tab:first-child {
    padding-left: 0px;
}

#third-column .DaikosText .widget-tab {
	text-transform: uppercase;
	font-family: "Lucida Grande", sans-serif;
	color: #77afa4;
	font-size:  10pt;
	font-weight: normal;
	cursor: pointer;
	white-space: nowrap;
	margin: 15px 3px 5px 3px;
	display: inline-block;
}

#third-column .DaikosText .active {
	color: #000;
}

#third-column .DaikosText .comments-content span.title,
#third-column .DaikosText .posts-content span.title {
    font-family: "Lucida Grande";
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 9pt;
}

#third-column .DaikosText .comments-content span.author {
    font-family: "Lucida Grande";
    text-transform: uppercase;
    color: #000;
    font-size: 9pt;
    /*    font: 10px/15px "Lucida Grande",Arial,Sans-serif; */

}

#third-column .DaikosText .comments-content span.comment {
    font-family: Courier;
    font-style: italic;
    font-size: 8pt;
}

.manchufbfanbox {
	height: 290px;
}

/* whats cooking widget */

#third-column ul div.textwidget div.clock {
    display: inline;
    float: left;
    width: 100px;
}

#third-column ul div.textwidget div.event-list {
    display: inline;
    float: right;
    width: 190px;
    padding-left: 10px;
}

#third-column ul div.textwidget div.event-list .gce-page-list ul.gce-list li:first-child{
    padding-top: 0;
}

#third-column ul div.textwidget div.event-list .gce-page-list ul.gce-list li {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
}

#third-column ul div.textwidget div.event-list p.gce-list-title {
    display: none;
}

.gce-list .gce-list-event {
    float: none;
}

.upcoming-event-header {
    margin: 20px 0px 5px 0px;
    text-transform: uppercase;
    font-size: 9pt;
	font-family: "Lucida Grande", Arial, Helvetica, Sans-Serif;
}

#page .flickrpress-container .flickrpress-items div {
    padding: 0px;
}

#content .flickrpress-container {
    text-align: left;
}

#content .calendarlink {
    margin-bottom: 20px;
} 

.gallery-title {
    text-transform: uppercase;
    font-size: 9pt;
	font-family: "Lucida Grande", Arial, Helvetica, Sans-Serif;
}

.community .gce-page-list ul.gce-list {
    margin: 0px 0px 20px 0px;
}
#third-column ul div.gce-widget-list ul.gce-list {
    margin:10px 0 0 0px;
    padding: 0px 0 0 110px;
    min-height: 150px;
	background: url(images/whatscooking.jpg) no-repeat;
}

.gce-page-list ul.gce-list li {
    display:block;
}


/* contact form widget css is in styles.css */


/* menu items */

#content .menu-item {
	padding: 5px 0px 5px 0px;
	display: block;
	font-style: italic;
}



#content .menu-item .menu-item-name {
    width:  75%;
	display: block;
	float: left;
}

#content .menu-item .menu-item-price {
	float: right;
	display: inline;
}

#content .menu-item .menu-item-description {
	float: left;
	display: block;
	padding-bottom: 5px;

}

#content .menu-item .menu-item-description p {
	width:  550px;
    padding: 0;
    margin: 0;
    float: left;
    }

#content .menu-item .menu-item-description .social_container, 
#content .menu-item .menu-item-description .sociable, 
#content .menu-item .menu-item-description .spreadtheword,
#content .menu-item .menu-item-description .tooltip {
    display: none;
    visibility: hidden;
}

/* list menus */

#content .list-menu .label-one {
    text-transform: uppercase;
    color: #77AFA4;
    font-size: 10pt;
    display: block;
    line-height: 1em;
    padding-top: 10px;
    paddinb-bottom:3px;
    font-family: "Lucida Grande", Arial, sans-serif;
}

#content .list-menu .label-two {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8pt;
    display: block;
    line-height: 1em;
    padding-bottom: 24px;
    font-family: "Lucida Grande", Arial, sans-serif;
}

#content .list-menu p {
    margin-top: 5px;
    margin-bottom: 0;
}

#content .list-menu {
    padding-bottom: 10px;
}

.shortPage .social-icons {
    top: -300px;
}

/* search bar */

#header-search {
    float: right;
    position: relative;
    top: -299px;
    right: 0px;
    width: 300px;
    z-index: 100;
}

#header-search input#hs {
    background-color: #77AFA4;
    border: none;
    width: 175px;
    color: #FFF;
    position: relative;
    top: -9px;
    right: -10px;
    padding-left: 5px;
    padding: 4px;
    font-size: 12px;
    line-height: 12px;
}
#header-search input#searchsubmit {
    top: -2px;
    position:relative;
}

@-moz-document url-prefix() {
 #slider #header-search {
        top: -299px;
        right: 0px;
    }
}


/* social icons */

.social-icons {
    float: right;
    position: relative;
    top: -465px;
    right: 80px;
    display: block;
}

.social-icons ul {
    list-style-type: none;
}

/* header calendar */

.shortPage #google-cal-large {
    top: -285px;
}

#google-cal-large {
    float: right;
    position: relative;
    top: -450px;
    right: 150px;
    width: 200px;
    height: 175px;
}

#google-cal-large .gce-page-grid .gce-calendar td {
    height: 15px;
    border: none;
    width: 15px;
}

#google-cal-large .gce-page-grid .gce-calendar {
    border: none;
    color: #FFF;
    width: 200px;
}

#google-cal-large .gce-page-grid .gce-calendar tbody th {
   /* display: none; */
   border: none;
   padding-bottom: 2px;
}

#google-cal-large .gce-page-grid .gce-calendar .gce-month-title, 
#google-cal-large .gce-page-grid .gce-caption {
    color: #FFF;
    font-family: "Apple Chancery", Courier, cursive;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    padding-bottom: 4px;
}

#google-cal-large .gce-page-grid .gce-calendar .gce-month-title {
     width: 100px;
}

#google-cal-large .gce-page-grid .gce-calendar .gce-prev, 
#google-cal-large .gce-page-grid .gce-calendar .gce-next {
     font-size:  15px;
     font-weight: bold;
     width: 25px;
 }
 
 #google-cal-large .gce-page-grid .gce-calendar .gce-today {
     background-color: #77AFA4;
 }
 
 #google-cal-large .gce-page-grid .gce-calendar .gce-has-events {
     color: #FFF;
     border: 1px dashed #77AFA4;
 }
 
 #google-cal-large .gce-page-grid .gce-calendar .gce-day-number {
     font-size: 1.5em;
 }
 
.gce-qtip .gce-qtip-content {
    border: none;
    background: #77AFA4;
}

.gce-qtip .gce-event-info .gce-tooltip-event {
    background: #FFFFFF; 
    padding-bottom: 2px;
    font-size: 12px;
    font-color: #FFF;
}

.gce-qtip .gce-event-info .gce-tooltip-start {
    font-color: #FFF;
}

.gce-qtip .gce-event-info .gce-tooltip-description {
    font-color: #FFF;
}

.gce-qtip .gce-event-info .gce-tooltip-link a {
    font-color: #FFF;
}

#google-cal-large .cal-link a {
    font-size: 13px;
    position: relative;
    left: 6px;
}

.page #cboxTitle {
    display: none !important;
}

.page #cboxPrevious, .page #cboxNext, .page #cboxClose {
    color: #77AFA4;
    font-weight: bold;
}

.tags-content .tag-column {
    width: 33%;
    float: left;
    font-size: 9pt;
}

#sidebar .tags-content .tag-column ul li, #third-column .tags-content .tag-column ul li {
    border-bottom: none;
    padding: 2px 0px 2px 0px;
}

.spreadtheword {
    color: #77AFA4;
    text-transform: uppercase;
    font-style: normal;
    padding-bottom: 8px;
}

.social_container {
    clear: both;
    padding-top: 10px;
    width: 130px;
    font-style: normal;
    color: #000;
}

.tooltip {
	display:none;
	font-size:12px;
	height:30px;
	width:235px;
	padding:5px;
	color:#fff;
    background-color: #77AFA4;
    border-bottom: 1px dashed #000;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
