/* margins */
container {
	margin-top: 45px;
	margin-bottom: 15px;
	width: 960px;	
}

.content-body{
	width: 960px;	
	padding-left: 37px;
	padding-right: 10px;
	}

1column8 {
	/* 1st column position spanning 8 columns */
	margin-left: 37px;
	margin-right: 20px;
	width: 593px;
}

1column5{
	/* 1st column position spanning 5 columns */		width: 353px;
	margin-right:  20px;
}

2colum3{
	/* 2nd column position spanning 3 columns */	
	width: 219px;
}

.widgets{
	width: 300px;
}

/* typographic styles */
.subnav{
	font: 13px "Lucida Grande";
	color: #000;
	text-transform: capitalize;
}
.subnav-select {
	font: 13px "Lucida Grande";
	color: #938a5d;
	text-transform: capitalize;
}

.intro p {
	font: 17px/23px georgia;
	color: #000;
	margin-top: 31px;
	margin-bottom: 20px;
	padding-bottom: 31px;
	border-bottom: dotted;
}

.title h1 {
	font: 12px "Lucida Grande";
	text-transform: uppercase;
}
 
posting-data h2{
	font: 9px "Lucida Grande";
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 22px;
}
.upcoming-events span{
	font: 9px "Lucida Grande";
	text-transform: uppercase;
	color: #000000;
}

p {
	font: italic 10px/15px courier;
	color: #666666;
}

a:link {
	color: #77afa4;
}

.more a:link {
	color: #77afa4;
	font: 10px courier;
}

img {
	margin-top: 10px;
	margin-bottom: 12px;
	
}

.spread a:link{
	/* should be surrounded by black courier brackets */
	margin-top: 20px;
	margin-bottom: 14px;
	
}
/* Join In Page */

1column3 {
	width: 193px;
}
.1column3 img {
	margin-right: 7px;
	/* last one should not have a 7px right margin*/
}
