.ddmcl {
	width: 200px;
	float: left;
	padding-right: 20px;
}

.ddmcl ul {
	margin: 10px 0 10px 0;
	padding: 0;
	list-style: none;
	text-indent: 0;
}

.ddmcl li {
	margin: 0 0 2px 0;
	padding: 0;
}

.ddmcl p.sep {
	font-size: 1.2em;
	color: #808080;
	font-weight: bold;
}

.ddmcl p.sep:hover {
	cursor: pointer;
}