/*
Theme Name: BBP
Theme URI: http://www.brianbermanphoto.com
Description: Slight alteration to the 2010 theme to give more relevance to galleries and photography in general.
Version: .5
Tags: photos, galleries, brianbermanphoto
*/


/* =overflow hack
-------------------------------------------------------------- */

body{
	overflow-x:hidden; 
}

#main #primary {
 /*   position: absolute; */
}

body #container {
    margin:  55px 0 0 0;
}

body #primary {
    position: relative;
}

/* added to remove edge case of sliding content under nav */

body.home #main {
    margin: 0 auto;
    width: 1200px;

}

body #container, body .archive #container, body.home #container, body single #container {
    width: 1100px;
}

body h1.entry-title, body.home span.edit-link {
    display: none;
}