<div class="row">
	<div class="container">
		<div class="footer clearfix">
		  <div class="container">
		  		{{{content}}}
		  <div class="buckov pull-right">
		   	Designed by <a href="http://www.buckov.com/" target="_blank">Buckov|AllReady!</a> 2014
		  </div>
		  </div>
		</div>
	</div>
</div>