<div class="row">
	<div class="container">
      <div id="{{id}}-gallery" class="jumbotron clearfix galler">
		  	<h2 id="{{id}}">{{{title}}}</h2>
		  	<div class="rule"></div>
		  		<div id="{{id}}-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
				    <div class="slides"></div>
				  <div class="slide-info">
				    <h3 class="title"></h3>
				    <p class="description"></p>
				  </div>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <!--a class="close">×</a-->
				    <!--a class="play-pause"></a-->
				    <ol class="indicator"></ol>
				</div>
      </div>
     </div>
</div>