<div class="row">
	<div class="container">
		<div id="{{type}}-module" class="{{type}} jumbotron clearfix">
			 <h2 id="{{type}}">{{title}}</h2>
			 <div class="rule"></div>
			 
			{{#shows}}
		    <div class="row">
		    	
		    	
					 <div class="col-md-2 image">
					 {{#image}}
					 	<img src="{{image}}" alt="{{name}}" height="125" />
					 {{/image}}
					 {{^image}}
					 	<div class="upcoming event"><p>Upcoming</p><p class="date">{{date}}</p></div>
					 {{/image}}
					 </div>
		
				 
				 <div class="col-md-4">
				    <p class="date">{{date}}</p>
				    <h4>
					    {{#titleLink}}
					 		<a href="{{titleLink}}" target="_blank">{{name}}</a>
					 	{{/titleLink}}
					 	{{^titleLink}}
					 		{{name}}
					 	{{/titleLink}}
				 	</h4>
				 </div>
				 
				 <div class="col-md-6 description">
				 	<p>{{{description}}}</p>
				 	{{#moreLink}}
				 		<a href="{{moreLink}}" target="_blank">Learn more about {{name}}.</a>
				 	{{/moreLink}}
				 </div>
		    </div>
			{{/shows}}
		</div>
	</div>
</div>